# langur .gitignore
# mostly using whitelist instead of blacklist
# need not be concerned with many files to exclude, such as .DS_Store, Desktop.ini, etc.

# start by blacklisting all files with an extension
# effectively whitelisting all files with no extension
*.*

# blacklist these
internal/langur
internal/repl/repl

# whitelist the following
!/.gitignore

# go files
!*.go
!go.sum
!go.mod

# langur code samples
!*.langur

# markdown and text files
!*.md
!*.txt

# ...even if they are in subdirectories
!*/
