# langur .gitignore
# using whitelist instead of blacklist
# need not be concerned with many files to exclude, such as .DS_Store ...

# start by ignoring everything
*

# include the following ...
!/.gitignore

# go files
!*.go
!go.sum
!go.mod

# langur code samples
!*.langur

# markdown and text files
!*.md
!*.txt

# ...even if they are in subdirectories
!*/

# include everything in the following packages
!/internal/regexp/**
!/internal/decimal/**

